* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px 24px 24px;
}

.toogle-btn {
  width: 35px;
  height: 3px;
  background-color: #6070ff;
  margin: 6px 0;
  cursor: pointer;
  display: none;
}

.menu-overlay {
  background-color: #6070ff;
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  overflow-x: hidden;
  transition: 0.75ms;
  backdrop-filter: blur(6px);
}

.closeMenu {
  height: 12px;
  width: 12px;
  font-size: 20px;
  border-radius: 0;
  float: right;
  margin-right: 38px;
  margin-top: 62px;
  color: #fff;
}

.mobile-menu {
  list-style: none;
  padding: 106px 96px 0 28px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 600;
  line-height: 34px;
}

.mobile-menu > li {
  padding-bottom: 30px;
}

a {
  text-decoration: none;
  list-style: none;
}

.mobile-menu > li a {
  color: #fff;
}

/* header-logo */

.logo {
  color: #6070ff;
  font-size: 18px;
  font-weight: bold;
  height: 20px;
}

.logo:hover {
  cursor: pointer;
}

/* main-content */

.main-content {
  background-image: url(images/main-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 24px;
  display: flex;
  flex-flow: column wrap;
  border-radius: 20px;
}

.intro-text {
  margin: 104px 0 0 0;
  color: #172b4d;
  font-size: 40px;
  font-weight: bold;
  width: 290px;
}

.main-text {
  color: #344563;
  font-size: 16px;
  margin-top: 12px;
}

/* contacts-main */
.end-text {
  color: #7f8cff;
  font-weight: bold;
  margin-top: 12px;
}

.social-conacts {
  display: flex;
  text-align: start;
  padding: 0;
  margin-top: 12px;
}

.social-conacts li {
  color: #505f79;
  list-style: none;
  margin-right: 19px;
}

.social-conacts li a {
  color: #505f79;
}

.social-conacts:hover {
  cursor: pointer;
}

/* cards */

.cards {
  display: grid;
  gap: 88px;
  padding: 0 24px;
  background-color: #e5e5e5;
  padding-top: 50px;
}

.card-pattern {
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
  margin-top: 100px;
}

.cards-img {
  width: 295px;
  height: 220px;
  margin-top: 12px;
}

.card-header {
  font-weight: bold;
  font-size: 32px;
  color: #172b4d;
  margin: 12px 0;
}

.card-title {
  display: flex;
  margin: 20px 0;
}

.card-title * {
  padding-right: 25px;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.list-exclude {
  list-style: none;
  color: #344563;
}

.card-text {
  font-size: 15px;
  color: #344563;
  margin: 16px 0;
}

.card-skills {
  display: flex;
}

.card-skills li {
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  padding: 4px 12px;
  background: #ebebff;
  margin-right: 8px;
  border-radius: 8px;
  list-style: none;
}

button {
  font-weight: 500;
  font-size: 17px;
  margin: 28px 0;
  width: 124px;
  height: 48px;
  background-color: #fff;
  color: #396df2;
  border-radius: 16px;
  border: 1px solid #6070ff;
}

button:hover:not(#close-btn) {
  cursor: pointer;
  background-color: #396df2;
  color: #fff;
}

.four {
  margin-bottom: 114px;
}

/* about */

.about-content {
  padding: 0 24px;
  display: flex;
  flex-flow: column wrap;
  margin-top: 114px;
}

.about-title {
  color: #172b4d;
  font-size: 40px;
  font-weight: bold;
  width: 260px;
}

/* contacts-about */

.see-resume {
  white-space: nowrap;
  width: 162px;
  height: 48px;
}

.foot-icons {
  padding-left: 10px;
}

/* langguages & skills, frameworks */

.skill-list {
  margin: 0 24px;
  padding: 0 12px;
}

.lang-skills {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

.lang {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.icon-colors {
  color: #acb7c3;
}

.skill-img {
  width: 303px;
  height: 66.72px;
}

hr {
  border-top: 1px solid #dfe1e6;
}

/* footer */

.container {
  background-image: url(images/contacts.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #6070ff;
  display: flex;
  justify-content: center;
  padding: 105px 24px 8px 24px;
  margin-top: 103px;
  border-top-left-radius: 100px;
}

.container h2 {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}

.container p {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 40px;
}

.input-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column wrap;
  width: 327px;
}

.contact-input {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: calc(327px - 16px);
  padding-left: 16px;
  height: 48px;
  font-size: 17px;
  color: #172b4d;
}

.container input::placeholder {
  color: #172b4d;
}

.contact-textarea {
  margin: 0 auto;
  width: calc(327px - 38px - 15px);
  padding: 15px 38px 15px 16px;
  color: #172b4d;
  border-radius: 8px;
  font-size: 15px;
}

.contacts-form textarea::placeholder {
  color: #b3bac5;
}

.btn-get-it-touch {
  width: 140px;
  height: 48px;
  padding: 12px 8px;
  font-weight: 500;
  font-size: 17px;
  background-color: #fff;
  color: #6070ff;
  border-radius: 8px;
}

.btn-get-it-touch:hover {
  background-color: #6070ff;
  color: #fff;
  border: 1px #fff solid;
}

.get-it-touch:visited {
  background: #2230d2;
  color: #fff;
}

.end-break {
  width: 134px;
  border: 2px black solid;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
}

.desktop-menu {
  margin-right: 50px;
}

.desktop-menu ul {
  display: flex;
  list-style: none;
}

.desktop-menu ul li a {
  color: #344563;
  font-size: 15px;
  font-weight: 500;
  margin-left: 32px;
}

/* validate */

.error-message {
  color: red;
  font-size: 17px;
  align-self: center;
  padding-bottom: 5px;
}

.error {
  margin-bottom: 15px;
  height: 48px;
  border-radius: 8px;
  font-size: 17px;
  border: 1px solid red;
  padding: 16px;
  color: #172b4d;
}

/* popup-window */

.pop-main {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  left: 0;
  visibility: hidden;
}

.pop-container {
  display: flex;
  margin: 20px 12px;
  flex-flow: wrap column;
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
}

.pop-text {
  margin: 12px auto;
}

.pop-header {
  color: #172b4d;
  font-weight: 700;
}

.pop-list1 {
  display: flex;
  margin: 18px 0;
}

.pop-list1 li {
  margin-right: 40px;
  font-weight: 600;
  color: #7a869a;
  font-size: 13px;
}

.pop-img {
  margin: 0 auto;
}

.pop-list2 {
  display: flex;
  margin: 12px 0;
}

.pop-list2 li {
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  padding: 4px 12px;
  background: #ebebff;
  margin-right: 8px;
  margin-top: 4px;
  border-radius: 8px;
  list-style: none;
}

.pop-list1 li:first-child {
  list-style: none;
  color: #344563;
}

.pop-list2 li:nth-child(n+4) {
  visibility: hidden;
  width: 0;
}

.pop-btn-container {
  display: flex;
  justify-content: center;
}

.pop-btn {
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 15px;
}

#pop-icon {
  list-style: none;
  font-size: 20px;
  padding-left: 5px;
}

#pop-icon a {
  color: #6070ff;
}

#pop-icon a:hover {
  color: #fff;
  background-color: transparent;
}

#close-btn {
  position: fixed;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  top: 40px;
  right: 20px;
  font-size: 30px;
  color: #67798e;
}

@media only screen and (max-width: 991px) {
  .desktop-menu {
    display: none;
  }

  .toogle-btn {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .pop-container {
    margin-right: 60px;
    margin-left: 60px;
    height: 90vh;
  }

  .pop-list2 li:nth-child(n+4) {
    visibility: visible;
    width: fit-content;
  }

  .pop-list2 {
    justify-content: center;
    flex-flow: column wrap;
    height: 70px;
  }

  .pop-hr {
    width: 0;
  }

  .pop-btn-container {
    justify-content: flex-end;
  }

  .pop-img {
    width: 800px;
    height: 720px;
  }

  .pop-list2-container {
    margin-right: 180px;
    display: flex;
    justify-content: flex-end;
  }

  #close-btn {
    right: 100px;
    top: 40px;
  }
}